<div class="recipes">

  <div class="recipes__item">
    <div class="scard">
        <h4 class="scard__heading">receipt 1</h4>
        <p class="scard__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <div class="scard__cta">Learn more</div>
    </div>
  </div>

  <div class="recipes__item">
    <div class="scard">
        <h4 class="scard__heading">receipt 1</h4>
        <p class="scard__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <div class="scard__cta">Learn more</div>
    </div>
  </div>

  <div class="recipes__item">
    <div class="scard">
        <h4 class="scard__heading">receipt 1</h4>
        <p class="scard__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <div class="scard__cta">Learn more</div>
    </div>
  </div>

  <div class="recipes__item">
    <div class="scard">
        <h4 class="scard__heading">receipt 1</h4>
        <p class="scard__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <div class="scard__cta">Learn more</div>
    </div>
  </div>

  <div class="recipes__item">
    <div class="scard">
        <h4 class="scard__heading">receipt 1</h4>
        <p class="scard__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <div class="scard__cta">Learn more</div>
    </div>
  </div>
</div>